.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
dist
out
*.log*
.env
.env.*
*.tsbuildinfo
build
!**/*/viewer-front/build
.DS_Store
.vscode
packages/server/pgdata
packages/server/pgdata
/rabbitmq